*~*
*.pyc
.coverage
.DS_Store
dist/*
build/*
stalker_pyramid2/static/node_modules
stalker_pyramid.egg-info/*
upload_to_pypi
lib/*
bin/*
include/*
local
*.swp
stalker_pyramid.db*
.git/
pyramid.log
pyramid.pid
anima.ini
