<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app" ng-controller="AppCtrl">

    <!-- Head -->
    <head>
        <meta charset="utf-8"/>
        <title page-title></title>

        <meta name="description" content="blank page" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link rel="shortcut icon" href="static/stalker/imgages/favicon.png" type="image/x-icon">

        <!--Basic Styles-->
        <link href="static/stalker/css/stalker.css" rel="stylesheet" />
        <!--Fonts-->
    </head>
    <!-- /Head -->

    <!-- Body -->
    <body>
        <div ui-view></div>

        <!-- App Config and Routing Scripts -->
        <script src="static/angular/app/app.js"></script>

        <!-- Stalker JavaScript Libraries | TODO: Load them lazily -->
        <script src="static/angular/app/services/auth.js"></script>
        <script src="static/angular/app/services/registry.js"></script>
        <script src="static/angular/app/controllers/user.js"></script>
        <script src="static/angular/app/controllers/project.js"></script>

        <!-- Layout Related Directives -->

    <div ng-controller="MainController">
    </div>

    </body>
    <!--  /Body -->
</html>